{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}

<br />

{% if user.department != "ITSC" and user.department != "MANAGER" and user.department != 'LEAD' %}

<div class="card" id="profile">

  <h1>{{ user.first_name }} {{ user.last_name}}</h1>

  <p class="title">E-mail: {{ user.email }}</p>

  <p>Department: {{ user.department }} | ID #68679{{ user.id }}</p>

</div>

<hr />

{% else %}

<div class="card" id="profile">

  <p>{{ user.first_name }} {{ user.last_name}} | Role: {{ user.department }}</p>

  <p class="title">{{ user.email }}</p>

  <p>ID #474445{{ user.id }}</p>

</div>

<hr />

{% endif %}

{% if user.department != "ITSC" and user.department != "MANAGER" and user.department != 'LEAD' %}

<h1 align="center">* Submit A Ticket *</h1>

<form method="POST">

  <textarea name="ticket" id="ticket" class="form-control"></textarea>

  <br />

  <div align="center">
    <button type="submit" class="btn btn-primary">Add Ticket</button>
  </div>

  <br />

  <hr />

  <h1 align="center">* My History *</h1>

  <ul class="list-group list-group-flush" id="tickets">

    {% for ticket in user.tickets %}

    <li class="list-group-item">

      Ticket #2021{{ user.id }}{{ ticket.id }}<br />
      DATE: {{ ticket.date.strftime('%A, %B %d at %I:%M %p ') }}<br />
      {{ ticket.data }}

      <button type="button" class="close" onClick="deleteTicket({{ ticket.id }})">
      <span aria-hidden="true">&times;</span>
      </button>

  </li>

  {% endfor %}

  </ul>

</form>

{% else %}

<h2 align="center">Current Tickets:</h2>

{% for data in tickets %}

<div>

<li class="list-group-item">

  {% for user in users %}{% if user.id == data.user_id %}<b>{{ user.first_name }} {{ user.last_name }} </b> |
  <a href="/email">{{ user.email }}</a>
  <!--<a href="mailto: {{user.email}}?subject=ITSC Notice TEST&body=This is a notice from Mount St. Mary's University Information Technology Student Center.">-->
    <u>{{user.email}}</u></a>{% endif %}{% endfor %} <br />
  <b>User ID#:</b> {{ data.user_id }} <br />
  <b>Ticket:</b> {{ data.id }} | Date: {{ data.date.strftime('%A, %B %d at %I:%M %p ') }} <br /><hr />
  <b>Issue:</b>
  {{ data.data }}

  <button type="button" class="close" onClick="deleteTicket({{ data.id }})">
    <span aria-hidden="true">&times;</span>
  </button>

  <hr />


  {% if user.department == 'MANAGER' or user.department == 'LEAD' %}

  *** This feature is not functional yet ***<br />

  <form method="POST">

  <b>Assign to:</b>

    <select name="assign">

      <option hidden="">SELECT</option>

      {% for manager in managers %}

      <option>{{ manager.first_name }} {{ manager.last_name }}</option>

      {% endfor %}

      <option>Student Workers</option>

    </select>

  <button type="submit" onClick="get_id({{ data.id }})">ASSIGN</button>

  <br />

  <p>*** end ***</p>

  </form>

  {% endif %}

</li>

</div>

{% endfor %}

{% endif %}

{% endblock %}
