{% extends "base.html" %} {% block title %}View Current Users{% endblock %} {% block content %}

<h2 align="center">Current Users</h2>

<br />

<hr />

<ul class="list-group list-group-flush" id="users">

  {% for data in users %}

  <br />

  <li class="list-group-item">

    {% if data.department == 'MANAGER' %}

    <div class="admin_users">
      {{ data.id }} | {{ data.last_name }}, {{ data.first_name }} | {{ data.department }} |

      <a href="mailto: {{data.email}}?subject=ITSC Notice TEST&body=This is a notice from Mount St. Mary's University
      Information Technology Student Center." style="color: white"><u>{{data.email}}</u></a>

        {% if current_user.department == 'MANAGER' %}

        <button type="button" class="close" onClick="deleteUser({{ data.id }})">
          <span aria-hidden="true">&times;</span>
        </button>

      {% endif %}

    </div>

    <br />

    {% for equipment in out %}

        {% if equipment.user_email == data.email %}

          <br/>

          <p>{{ equipment.item_type }}: {{ equipment.item_name }} - {% if equipment.item_number < 10 %}0{% endif %}
            {{ equipment.item_number }} | Assigned: {{ equipment.dateOut }}</p>

        {% endif %}

    {% endfor %}

    {% elif data.department == 'ITSC' %}

    <div class="itsc_users">

      {{ data.id }} | {{ data.last_name }}, {{ data.first_name }} | {{ data.department }} | <a href="mailto: {{data.email}}?subject=ITSC Notice TEST&body=This is a notice from Mount St. Mary's University Information Technology Student Center." style="color: white"><u>{{data.email}}</u></a>
      {% if current_user.department == 'MANAGER' %}

      <button type="button" class="close" onClick="deleteUser({{ data.id }})">
      <span aria-hidden="true">&times;</span>
    </button>

      {% endif %}

    </div>

    <br />

    {% for equipment in out %}

        {% if equipment.user_email == data.email %}

          <br/>

          <p>{{ equipment.item_type }}: {{ equipment.item_name }} - {% if equipment.item_number < 10 %}0{% endif %}{{ equipment.item_number }}</p>

        {% endif %}

      {% endfor %}

    {% elif data.department == 'STUDENT' %}

    <div class="student_users">

      {{ data.id }} | {{ data.last_name }}, {{ data.first_name }} | {{ data.department }} |

      <a href="mailto: {{data.email}}?subject=ITSC Notice TEST&body=This is a notice from Mount St. Mary's University
      Information Technology Student Center." style="color: white"><u>{{data.email}}</u></a>

      {% if current_user.department == 'MANAGER' %}

      <button type="button" class="close" onClick="deleteUser({{ data.id }})">
      <span aria-hidden="true">&times;</span>
    </button>

      {% endif %}

    </div>

    <br />

      {% for equipment in out %}

        {% if equipment.user_email == data.email %}

          <br/>

          <p>{{ equipment.item_type }}: {{ equipment.item_name }} - {% if equipment.item_number < 10 %}0{% endif %}{{ equipment.item_number }}</p>

        {% endif %}

      {% endfor %}

    {% else %}

    <div class="faculty_users">

      {{ data.id }} | {{ data.last_name }}, {{ data.first_name }} | {{ data.department }} |
      <a href="mailto: {{data.email}}?subject=ITSC Notice TEST&body=This is a notice from Mount St. Mary's University
      Information Technology Student Center." style="color: white"><u>{{data.email}}</u></a>

      {% if current_user.department == 'MANAGER' %}

      <button type="button" class="close" onClick="deleteUser({{ data.id }})">
        <span aria-hidden="true">&times;</span>
      </button>

      {% endif %}

      </div>

      <br />

      {% for equipment in out %}

        {% if equipment.user_email == data.email %}

          <br/>

          <p>{{ equipment.item_type }}: {{ equipment.item_name }} - {% if equipment.item_number < 10 %}0{% endif %}{{ equipment.item_number }}</p>

        {% endif %}

      {% endfor %}

    {% endif %}

  </li>

  {% endfor %}

</ul>

<a href="/tech/view_users"> Go To Top</a>

{% endblock %}
